<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='spectre.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
  <meta http-equiv="refresh" content="10" />
  <title></title>
  <script src="{{ url_for('static', filename='anime.min.js') }}"></script>
</head>
<body>
    <table class="table table-striped table-hover tw">
      <tbody>
        {% for r in runners %}
        <tr class="ani1">
            <td>{{ r }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
        anime({
            targets: '.ani1',
            translateX: [-200, 0],
            delay: anime.stagger(150),
            easing: 'easeInOutExpo'
        });
    </script>
</body>
</html>
